* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  /* height: 200px; */
  width: auto;
  border-radius: 10px;
  box-shadow: 2px 5px 10px;
  justify-content: center;
  align-items: center;
  background: #acd;
  padding: 20px;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.innerContainer > div {
  margin: 20px;
}
.count {
  font-size: 2.5rem;
  margin: 20px;
}
#counterValue {
  padding: 5px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5rem;
}
.buttons {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-around;
}
button {
  padding: 20px;
  background-color: aquamarine;
  font-size: medium;
  border-radius: 10px;
}
